/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *

 *= require store/spree_core
 *= require store/spree_promo

 *= require_self
 *= require_tree .
*/
#product-images #main-image {
    text-align: center;
    /*border: 0px solid rgb(217, 217, 219);*/
    border: none;
    background-color: rgb(255, 255, 255);
}

ul#products li .product-image {
    /*border: 1px solid rgb(217, 217, 219);*/
    border: none;
    padding: 5px;
    min-height: 110px;
    background-color: white;
}